.Profile-Picture{
    height: 200px;
    width: 200px;
    margin-top: 25px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 25%;
  
}

.bottom-cloud{
    position:absolute;
    left: 25%;
}

.first-container{
    background-color: #e4f9f5;
    margin: 0px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #e4f9f5;;
}
.middle-container{
   
        
}
.bottom-container{
    
    
}
.Introduction{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 40px;

    font-family: 'Montserrat', sans-serif;
}
.skills{
  
}
.skill-row{
    font-family: 'Montserrat', sans-serif;
    margin-left: 20%;
    margin-right: 20%;

}
.date-work{
 position: relative;
 bottom: 20px;
}
.experience{
    margin: 0;
    text-align: center;
    
}
.experience-p{
    position: relative;
    bottom: 20px;
    margin-left: 20%;
    margin-right: 20%;
}